.merch-title {
  font-family: "Wix Madefor Display Variable", sans-serif;
  font-size: 6.5rem;
  margin-bottom: 0 !important;
  background: linear-gradient(to right, var(--trans-pink), var(--trans-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 800;
  width: fit-content;
}

.collection-section {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.collection {
  font-family: "Wix Madefor Display Variable", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--cream-white);
  margin-bottom: 1rem;
}

.collection-title {
  font-family: "Wix Madefor Display Variable", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--cream-white);
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--cream-white);
  padding-bottom: 0.25rem;
}

.merch-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 1920px) {
  .merch-title {
    font-size: 4.5rem;
  }
}

@media (max-width: 1600px) {
  .merch-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 1280px) {
  .merch-title {
    font-size: 3.5rem;
  }
}

@media (max-width: 820px) {
  .merch-title {
    font-size: 3rem;
  }
}

@media (max-width: 485px) {
  .merch-title {
    font-size: 3rem;
  }
}

@media (max-width: 431px) {
  .merch-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .merch-title {
    font-size: 2.2rem;
  }
}
