.merch-title {
  font-family: "Wix Madefor Display Variable", sans-serif;
  font-size: 6.5rem;
  margin-bottom: 0 !important;
  background: linear-gradient(to right, var(--trans-pink), var(--trans-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 800;
  width: fit-content;
}

.collection-section {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.collection {
  font-family: "Wix Madefor Display Variable", sans-serif;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 2rem);
  font-weight: 400;
  color: var(--cream-white);
  margin-bottom: 1rem;
}

.collection-title {
  font-family: "Wix Madefor Display Variable", sans-serif;
  font-size: clamp(1.5rem, 1.286rem + 1.07vw, 3rem);
  font-weight: 800;
  color: var(--cream-white);
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--cream-white);
  padding-bottom: 0.25rem;
}

.merch-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(12.5rem, 11.161rem + 6.7vw, 21.875rem), 1fr)
  );
  gap: 2rem;
  margin-top: 2rem;
  align-items: stretch;
}

.merch-text-title {
  font-family: "Wix Madefor Display Variable", sans-serif;
  font-size: clamp(1.1rem, 0.115rem + 4.92vw, 1.5rem);
  margin: 0.8em 0;
  background: linear-gradient(to right, var(--trans-pink), var(--trans-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  width: fit-content;
  line-height: 1;
}

.merch-text-subtitle {
  font-family: "Wix Madefor Display Variable", sans-serif;
  font-size: clamp(0.8rem, -0.185rem + 4.92vw, 1.2rem);
  margin: 0.8em 0;
  font-weight: 800;
  width: fit-content;
  line-height: 1;
}

.merch-text-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.merch-text-item {
  font-family: "Wix Madefor Display Variable", sans-serif;
  font-size: clamp(0.6rem, -0.385rem + 4.92vw, 1rem);
  font-weight: 400;
}

.merch-text-item:last-of-type p:last-of-type {
  margin-top: 0.4rem;
  color: var(--trans-blue);
}

.merch-text-icon {
  font-size: clamp(0.6rem, -0.385rem + 4.92vw, 1rem);
  color: var(--trans-pink);
  margin-right: 0.25em;
}

.merch-text-email {
  font-family: "Wix Madefor Display Variable", sans-serif;
  font-size: clamp(0.6rem, -0.385rem + 4.92vw, 1rem);
  font-weight: 400;
  margin-top: 1rem;
}

.merch-text-email a {
  color: var(--trans-pink);
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 1920px) {
  .merch-title {
    font-size: 4.5rem;
  }
}

@media (max-width: 1280px) {
  .merch-title {
    font-size: 4rem;
  }
}

@media (min-width: 450px) {
  .merch-text-title {
    font-size: clamp(1.5rem, 0.716rem + 2.79vw, 2.5rem);
  }

  .merch-text-subtitle {
    font-size: clamp(1.2rem, 0.494rem + 2.51vw, 2.1rem);
  }

  .merch-text-item {
    font-size: clamp(1rem, 0.686rem + 1.11vw, 1.4rem);
  }

  .merch-text-email {
    font-size: clamp(1rem, 0.686rem + 1.11vw, 1.4rem);
  }
}

@media (min-width: 1024px) {
  .merch-text-title {
    font-size: clamp(2.5rem, 0.833rem + 2.6vw, 5rem);
  }

  .merch-text-subtitle {
    font-size: clamp(2.1rem, 0.7rem + 2.19vw, 4.2rem);
  }

  .merch-text-item {
    font-size: clamp(1rem, 0.333rem + 1.04vw, 2rem);
  }

  .merch-text-email {
    font-size: clamp(1rem, 0.333rem + 1.04vw, 2rem);
  }
}

@media (max-width: 820px) {
  .merch-title {
    font-size: 4rem;
  }
}

@media (max-width: 485px) {
  .merch-title {
    font-size: 3rem;
  }

  .merch-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}

@media (max-width: 431px) {
  .merch-title {
    font-size: 3.5rem;
  }
}

@media (max-width: 400px) {
  .merch-title {
    font-size: 3rem;
  }
}
