.teamContainer {
  margin-top: 13rem;
}

.title {
  font-weight: 900;
  font-size: 6rem;
  background: linear-gradient(to right, var(--trans-pink), var(--trans-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 2rem;
  display: inline-block;
}

.team {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.team-member {
  display: flex;
  margin-bottom: 1rem;
  width: 49.6%;
  height: 250px;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  background-color: #252525;
  padding: 1.2rem;
}

.team-member:hover {
  transform: scale(1.05);
}

.team-member-empty {
  background-color: var(--trans-pink);
}

.team-member-empty:hover {
  transform: scale(1);
}

.team-member-info {
  width: 250px;
}

.team-member-info-odd {
  text-align: right;
}

.team-image-container {
  width: 250px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.team-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-member-mobile-bio {
  display: none;
}

.team-member-content {
  width: calc(100% - 500px);
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.team-bio-even {
  text-align: right;
}

.team-contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-contact p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team-icon {
  margin-right: 0.5rem;
}

.team-name {
  font-weight: 900;
  font-size: 3rem;
  background: linear-gradient(to right, var(--trans-pink), var(--trans-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  line-height: 1;
}

.team-role {
  margin-top: 0.2rem;
}

.team-bio {
  font-size: 1.1rem;
  font-weight: 300;
}
