.whatWeDo {
  padding-top: 10rem;
}

.headline {
  font-family: "owners-bold", sans-serif;
  font-size: 6.5rem;
  margin-bottom: 0 !important;
  background: linear-gradient(to right, var(--trans-pink), var(--trans-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.text {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 2rem;
  width: 70%;
}

.valuesGrid {
  column-count: 6;
  column-gap: 4rem;
  margin-top: 4rem;
  width: 100%;
}

.value {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;
  break-inside: avoid;
  transition: all 0.3s ease;
  cursor: pointer;
}

.value span:first-of-type {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.5rem;
  color: var(--dark-grey);
  padding: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: var(--trans-pink);
  line-height: 1;
}

.value span:last-of-type {
  font-size: 0.9rem;
  line-height: 1.5;
  display: block;
  padding: 1.5rem;
  padding-top: 0.75rem;
  will-change: transform;
}

.value:hover {
  transform: scale(1.03);
}

@media (max-width: 1200px) {
  .valuesGrid {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .valuesGrid {
    column-count: 1;
  }
}
