.nav-container {
  width: 100%;
  position: fixed;
  padding: 2.5rem 10rem;
  background-color: var(--dark-grey);
  transition: all 1s ease-in-out;
  z-index: 100;
  -webkit-box-shadow: -1px 10px 12px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 12px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 12px -5px rgba(0, 0, 0, 0.75);
}

.nav-container-scrolled {
  padding: 2.5rem 10rem;
  transition: all 1s ease-out;
}

.navigation {
  position: relative;
  width: 100%;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3rem;
  transition: all 0.7s ease-out;
  height: 120px;
}

.nav-top-scrolled {
  margin-bottom: 2rem;
  transition: all 0.7s ease-in;
  height: 20px;
}

.languages-container {
  width: 15rem;
}

.languages {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language,
.link {
  text-decoration: none;
  color: var(--cream-white);
  font-family: "Wix Madefor Display Variable", sans-serif;
  font-weight: 800;
}

.language {
  opacity: 0.3;
  font-size: 1.4rem;
}

.active {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.logo {
  width: 100px;
  height: 100px;
  opacity: 1;
  transition: all 0.7s ease-in-out;
}

.logo-scrolled {
  opacity: 0;
  height: 0;
  width: 0;
  transition: all 0.5s ease-in-out;
}

.logo-link-container {
  width: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.logo-link-scrolled {
  opacity: 1;
}

.logo-links {
  width: 80px;
  height: 80px;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s ease-in-out;
}

.links-scrolled {
  transition: all 0.5s ease-in-out;
  width: 96%;
}

.link-container {
  height: 60px;
  width: 12%;
  background-color: rgba(0, 0, 0, 0.152);
  position: relative;
}

.link-container:before {
  content: "";
  background: linear-gradient(
    90deg,
    var(--trans-pink),
    var(--cream-white),
    var(--trans-blue),
    var(--trans-pink),
    var(--cream-white),
    var(--trans-blue),
    var(--trans-pink)
  );
  position: absolute;
  top: 100%;
  background-size: 400%;
  z-index: 0;
  width: 100%;
  height: 1px;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.link-container:first-of-type::before {
  background: transparent;
}

.link-container:nth-of-type(2)::before {
  background: transparent;
}

.link-container:nth-of-type(3)::before {
  background: transparent;
}

.link-container:active {
  color: rgba(0, 0, 0, 0.152);
}

.link-container:active:after {
  background: transparent;
}

.link-container:hover:before {
  opacity: 1;
}

.link-container:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.152);
  left: 0;
  top: 0;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(18, 18, 18);
  list-style: none;
  padding: 0;
  margin: 0;
  width: auto;
  min-width: 100%;
  z-index: 1000;
  opacity: 0;
  height: 0;
  transition: all 0.5s ease-in-out;
  border: solid 1px rgb(18, 18, 18);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  transform: scaleY(0);
  transform-origin: top;
}

.dropdown-container:before {
  content: "";
  background: linear-gradient(
    90deg,
    var(--trans-pink),
    var(--cream-white),
    var(--trans-blue),
    var(--trans-pink),
    var(--cream-white),
    var(--trans-blue),
    var(--trans-pink)
  );
  position: absolute;
  bottom: 0;
  background-size: 400%;
  z-index: 1;
  width: 100%;
  height: 1px;
  animation: none;
  display: none;
  transition: all 0.5s ease-in-out;
}

.dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.dropdown li {
  opacity: 0;
  width: 100%;
  white-space: nowrap;
  margin: 0.5rem 0;
}

.link-container:hover .dropdown li {
  transition: all 0.5s ease-in 0.3s;
  opacity: 1;
}

.dropdown li a {
  font-size: 1.4rem;
  display: none;
  color: #ffffff7f;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.dropdown li a:hover {
  color: var(--cream-white);
}

.link-container:hover .dropdown li a {
  display: block;
}

.link-container:hover .dropdown-container {
  opacity: 1;
  height: auto;
  max-height: 500px;
  transform: scaleY(1);
}

.link-container:hover .dropdown-container:before {
  display: block;
  animation: glowing 20s linear infinite;
}

.link-container:nth-of-type(2):hover .dropdown-container {
  opacity: 1;
  height: auto;
  max-height: 500px;
  transform: scaleY(1);
}

.link-container:nth-of-type(2):hover .dropdown-container:before {
  display: block;
  animation: glowing 20s linear infinite;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
}

.mobile-nav {
  display: none;
}

.search-results a:hover {
  text-decoration: underline;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (max-width: 2560px) {
  .nav-container {
    padding: 1.5rem 8rem;
  }

  .nav-container-scrolled {
    padding: 1.5rem 8rem;
  }

  .nav-top {
    margin-bottom: 3rem;
    height: 70px;
  }

  .nav-top-scrolled {
    margin-bottom: 2rem;
    height: 20px;
  }

  .languages-container {
    width: 15rem;
  }

  .languages {
    width: 40%;
  }

  .language {
    font-size: 0.9rem;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .logo-links {
    width: 50px;
    height: 50px;
  }

  .links-scrolled {
    width: 96%;
  }

  .link-container {
    height: 40px;
    width: 12%;
  }

  .dropdown {
    padding: 15px;
    box-sizing: border-box;
  }

  .dropdown li a {
    font-size: 1rem;
  }

  .link-container:hover .dropdown-container {
    height: auto;
    max-height: 500px;
    transform: scaleY(1);
  }

  .link-container:hover .dropdown-container:before {
    display: block;
    animation: glowing 20s linear infinite;
  }

  .link-container:nth-of-type(2):hover .dropdown-container {
    height: auto;
    max-height: 500px;
    transform: scaleY(1);
  }

  .link-container:nth-of-type(2):hover .dropdown-container:before {
    display: block;
    animation: glowing 20s linear infinite;
  }

  .link {
    font-size: 0.9rem;
  }

  .search-results li {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1920px) {
  .language {
    font-size: 0.7rem;
  }

  .nav-container {
    padding: 1rem 8rem;
  }

  .nav-top {
    height: 60px;
  }

  .nav-top-scrolled {
    height: 20px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .logo-links {
    width: 40px;
    height: 40px;
  }

  .link {
    font-size: 0.6rem;
  }

  .links-scrolled {
    width: 95%;
  }

  .dropdown li {
    margin: 0.4rem 0;
  }

  .dropdown li a {
    font-size: 0.7rem;
  }

  .link-container:nth-of-type(2) .dropdown-container {
    width: 120%;
  }

  .link-container:hover .dropdown-container {
    opacity: 1;
    height: auto;
    max-height: 500px;
    transform: scaleY(1);
  }

  .link-container:hover .dropdown-container:before {
    display: block;
    animation: glowing 20s linear infinite;
  }

  .link-container:nth-of-type(2):hover .dropdown-container {
    opacity: 1;
    height: auto;
    max-height: 500px;
    transform: scaleY(1);
  }

  .link-container:nth-of-type(2):hover .dropdown-container:before {
    opacity: 1;
    animation: glowing 20s linear infinite;
  }
}

@media (max-width: 1600px) {
  .nav-container {
    padding: 1rem 6rem;
  }

  .nav-container-scrolled {
    padding: 1rem 6rem;
  }
}

@media (max-width: 1440px) {
  .dropdown li {
    margin: 0.3rem 0;
  }

  .dropdown li a {
    font-size: 0.7rem;
  }

  .link-container:nth-of-type(2):hover .dropdown-container {
    opacity: 1;
    height: auto;
    max-height: 500px;
    transform: scaleY(1);
  }

  .link-container:nth-of-type(2):hover .dropdown-container:before {
    opacity: 1;
    animation: glowing 20s linear infinite;
  }
}

@media (max-width: 1280px) {
  .nav-container {
    padding: 1rem 5rem;
  }

  .nav-container-scrolled {
    padding: 1rem 5rem;
  }

  .language {
    font-size: 0.6rem;
  }

  .link {
    font-size: 0.5rem;
  }

  .dropdown-container {
    width: 120%;
  }

  .link-container:nth-of-type(2) .dropdown-container {
    width: 130%;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 480px) {
  .nav-container {
    display: none;
  }

  .mobile-nav {
    width: 100%;
    display: block;
    position: fixed;
    height: auto;
    background-color: var(--dark-grey);
    z-index: 10;
    -webkit-box-shadow: -1px 10px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 10px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 10px 12px -5px rgba(0, 0, 0, 0.75);
  }
  .dropdown-container {
    display: none;
  }

  .hamburger-menu-container {
    -webkit-box-shadow: -1px 10px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 10px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 10px 12px -5px rgba(0, 0, 0, 0.75);
  }

  .menu-button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--cream-white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger-menu {
    height: 100vh;
    font-family: "Wix Madefor Display Variable", sans-serif;
    font-weight: 400;
    will-change: transform;
    transform-origin: top;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .mobile-head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--dark-grey);
  }

  .hamburger-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cream-white);
    font-family: "Wix Madefor Display Variable", sans-serif;
    font-weight: 400;
  }

  .mobile-head-container {
    padding: 2rem 3rem;
  }

  .logo-mobile {
    width: 50px;
    height: 50px;
  }

  .menu-button {
    font-size: 2rem;
  }

  .hamburger-link-container {
    height: 5rem;
  }

  .hamburger-menu {
    margin-left: 2rem;
  }

  .mobile-search {
    margin-top: 4rem;
  }

  .languages {
    width: 60%;
  }

  .languages-container {
    margin-bottom: 4rem;
  }

  .language {
    font-size: 1.1rem;
  }
}

@media (max-width: 840px) {
  .logo-mobile {
    width: 40px;
    height: 40px;
  }

  .hamburger-menu {
    height: 100vh;
    font-family: "Wix Madefor Display Variable", sans-serif;
    font-weight: 400;
    will-change: transform;
    transform-origin: top;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .hamburger-link-container {
    height: 4rem;
    letter-spacing: 3px;
  }

  .hamburger-link {
    font-size: 0.9rem;
  }

  .mobile-search {
    margin-top: 3rem;
  }

  .languages-container {
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .menu-button {
    font-size: 1.7rem;
  }

  .hamburger-link-container {
    height: 4rem;
  }

  .hamburger-link {
    font-size: 1.1rem;
  }

  .languages-container {
    margin-bottom: 4rem;
  }

  .language {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .mobile-head-container {
    padding: 1.5rem 2rem;
  }
  .hamburger-link {
    font-size: 0.8rem;
  }

  .hamburger-menu {
    margin-top: 1.5rem;
    margin-left: 2rem;
  }

  .logo-mobile {
    width: 30px;
    height: 30px;
  }

  .menu-button {
    font-size: 1.3rem;
  }

  .language {
    font-size: 0.6rem;
  }

  .languages {
    width: 40%;
  }

  .languages-container {
    margin-bottom: 2rem;
  }
}

@media (max-width: 425px) {
  .hamburger-link-container {
    height: 2.5rem;
  }

  .hamburger-link {
    font-size: 0.7rem;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@media (max-width: 375px) {
  .hamburger-link {
    font-size: 0.6rem;
  }

  .mobile-head-container {
    padding: 0.8rem 1.5rem;
    padding-top: 1rem;
  }

  .hamburger-menu {
    margin-left: 1.5rem;
  }
}

@media (max-width: 320px) {
  .hamburger-link-container {
    height: 2rem;
  }

  .mobile-search {
    margin-top: 3rem;
  }

  .languages-container {
    width: 60%;
  }

  .language {
    font-size: 0.5rem;
  }

  .mobile-head-container {
    padding: 0.5rem 1.5rem;
    padding-top: 1rem;
  }
}

@media (max-width: 1112px) and (orientation: landscape) {
  .mobile-head-container {
    padding: 1rem 2rem;
  }

  .hamburger-menu-container {
    height: 100vh;
  }

  .menu-button {
    font-size: 1.5rem;
  }

  .hamburger-link-container {
    height: 3.5rem;
  }

  .hamburger-link {
    font-size: 0.9rem;
  }

  .language {
    font-size: 0.9rem;
  }

  .languages-container {
    margin-bottom: 3rem;
  }

  .hamburger-menu {
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .logo-mobile {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 962px) and (orientation: landscape) {
  .mobile-head-container {
    padding: 1rem 2rem;
  }

  .menu-button {
    font-size: 1.5rem;
  }

  .hamburger-menu {
    height: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
  }

  .hamburger-link-container {
    height: 2rem;
  }

  .hamburger-link {
    font-size: 0.8rem;
  }

  .mobile-search {
    margin-top: 0.5rem;
    column-span: 3;
    grid-column: 1 / 5;
    grid-row: 4 / 5;
  }

  .language {
    font-size: 0.8rem;
  }

  .languages-container {
    width: 20%;
    margin-bottom: 1rem;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  .hamburger-menu {
    margin-top: 1rem;
  }

  .logo-mobile {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 926px) and (orientation: landscape) {
  .mobile-head-container {
    padding: 1rem 2rem;
  }

  .menu-button {
    font-size: 1.5rem;
  }

  .hamburger-link-container {
    height: 1rem;
  }

  .hamburger-link {
    font-size: 0.9rem;
  }

  .language {
    font-size: 0.9rem;
  }

  .hamburger-menu {
    margin-top: 1rem;
  }

  .logo-mobile {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 740px) and (orientation: landscape) {
  .languages-container {
    width: 30%;
  }

  .hamburger-link {
    font-size: 0.7rem;
  }

  .hamburger-menu {
    gap: 1.5rem;
  }

  .language {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) and (orientation: landscape) {
  .mobile-head-container {
    padding: 0.9rem 2rem;
  }

  .languages-container {
    width: 50%;
  }

  .hamburger-link {
    font-size: 0.6rem;
  }

  .language {
    font-size: 0.6rem;
  }

  .menu-button {
    font-size: 1.2rem;
  }

  .logo-mobile {
    width: 30px;
    height: 30px;
  }
}
