.home {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/testph.png);
  background-size: "cover";
  background-position: "center";
}

.index {
  margin-top: 1rem;
  text-transform: uppercase;
  font-family: "owners-black", sans-serif;
  font-size: 4rem;
  background: -webkit-linear-gradient(
    40deg,
    var(--trans-pink),
    var(--trans-pink),
    var(--trans-blue),
    var(--trans-blue)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5rem;
}

.quote-container {
  color: var(--cream-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  height: 300px;
}

.quote-icon-left,
.quote-icon-right {
  font-size: 9rem;
  font-family: "owners-black", sans-serif;
  height: 70px;
}

.quote-icon-left {
  align-self: flex-end;
}

.quote-icon-right {
  align-self: flex-start;
}

.quote {
  text-align: justify;
  hyphens: auto;
  font-family: "owners-regular", sans-serif;
  font-size: 3rem;
  margin: 0 1.5rem;
  line-height: 3.5rem;
}

@media (max-width: 320px) {
  /* Your styles for max-width 768px here */
}

@media (max-width: 375px) {
  /* Your styles for max-width 768px here */
}

@media (max-width: 1920px) {
  .index {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .quote-container {
    height: 200px;
  }

  .quote-icon-left,
  .quote-icon-right {
    font-size: 7rem;
  }

  .quote {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 1440px) {
  .index {
    font-size: 2.8rem;
    margin-bottom: 3rem;
  }

  .home-container {
    padding-top: 5rem;
  }

  .quote-container {
    width: 60%;
    height: 200px;
  }

  .quote-icon-left,
  .quote-icon-right {
    font-size: 5rem;
    height: 50px;
  }
}

@media (max-width: 1280px) {
  .index {
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }

  .quote {
    font-size: 1.6rem;
  }

  .quote-icon-left,
  .quote-icon-right {
    font-size: 4rem;
    height: 40px;
  }
}

@media (max-width: 1024px) {
  .quote-container {
    width: 70%;
    height: 170px;
  }
}

@media (max-width: 820px) {
  .home {
    height: 40vh;
  }

  .index {
    font-size: 4rem;
    margin-bottom: 2rem;
    -webkit-text-fill-color: var(--cream-white);
  }
  .quote-container {
    display: none;
  }

  .quote {
    text-align: justify;
    hyphens: auto;
    margin: 0 1.2rem;
  }

  .home-container {
    padding-top: 2rem;
  }
}

@media (max-width: 485px) {
  .index {
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    -webkit-text-fill-color: var(--cream-white);
  }

  .home-container {
    display: none;
  }

  .quote-icon-left,
  .quote-icon-right {
    font-size: 3rem;
    height: 40px;
  }

  .quote-container {
    display: none;
    height: 170px;
  }

  .quote {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 1rem;
  }
}

@media (max-width: 425px) {
  .index {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .home-container {
    padding-top: 3rem;
  }

  .quote-icon-left,
  .quote-icon-right {
    font-size: 3rem;
    height: 30px;
  }

  .quote-container {
    height: 150px;
  }

  .quote {
    font-size: 1.1rem;
    line-height: 2rem;
    margin: 0 0.7rem;
  }
}
