.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100%;
  height: 100vh;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient {
  background: -webkit-linear-gradient(
    180deg,
    var(--trans-blue),
    var(--trans-pink),
    var(--trans-blue)
  );
  position: absolute;
  height: 100%;
  width: 22%;
  left: 78%;
  background-size: 1200%;
  animation: glowing 40s infinite linear;
}

.home-container {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 25rem 3rem 4rem 2rem;
  text-align: end;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.head-container {
}

.est {
  font-size: 3.5rem;
  height: 20%;
}

.sub-head,
.head,
.est {
  font-family: "owners-bold", sans-serif;
}

.sub-head {
  font-size: 7rem;
  text-transform: lowercase;
  padding-right: 7.5rem;
}

.head {
  font-size: 25rem;
  text-transform: uppercase;
}

.text-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.text {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.5;
  width: 20%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0; /* Hidden */
  }
  100% {
    transform: translateX(0);
    opacity: 1; /* Visible */
  }
}

@media (max-width: 2560px) {
  .gradient {
    width: 22%;
    left: 78%;
  }

  .home-container {
    padding: 15rem 3rem 3rem 2rem;
  }

  .est {
    font-size: 2.3rem;
    height: 30%;
  }

  .sub-head {
    font-size: 4.5rem;
    padding-right: 5rem;
  }

  .head {
    font-size: 16rem;
  }

  .text {
    font-size: 1.7rem;
  }
}

@media (max-width: 1920px) {
  .gradient {
    width: 25%;
    left: 75%;
  }

  .home-container {
    padding: 13rem 3rem 2rem 2rem;
  }

  .est {
    font-size: 1.8rem;
  }

  .sub-head {
    font-size: 3.5rem;
    padding-right: 3.7rem;
  }

  .head {
    font-size: 12rem;
  }

  .text {
    font-size: 1.3rem;
  }
}

@media (max-width: 1600px) {
  .home-container {
    padding: 12rem 2rem 1.5rem 2rem;
  }

  .est {
    font-size: 1.4rem;
  }

  .sub-head {
    font-size: 2.5rem;
    padding-right: 3.1rem;
  }

  .head {
    font-size: 10rem;
  }

  .text {
    font-size: 1.2rem;
    width: 22%;
  }
}

@media (max-width: 1540px) {
  .home-container {
    padding: 12rem 2rem 1.5rem 2rem;
  }

  .est {
    font-size: 1.1rem;
  }

  .sub-head {
    font-size: 2.3rem;
    padding-right: 2.8rem;
  }

  .head {
    font-size: 9rem;
  }

  .text {
    font-size: 1.1rem;
  }
}

@media (max-width: 1440px) {
  .gradient {
    width: 28%;
    left: 72%;
  }

  .est {
    font-size: 1.6rem;
  }

  .sub-head {
    font-size: 3rem;
    padding-right: 3.2rem;
  }

  .head {
    font-size: 10rem;
  }

  .text {
    font-size: 1.2rem;
    width: 26%;
  }
}

@media (max-width: 1370px) {
  .est {
    font-size: 1.4rem;
  }

  .head {
    font-size: 9rem;
  }

  .text {
    font-size: 1.2rem;
    width: 26%;
  }
}

@media (max-width: 1280px) {
  .sub-head {
    font-size: 2.7rem;
    padding-right: 2.9rem;
  }

  .est {
    font-size: 1.3rem;
  }

  .head {
    font-size: 8.5rem;
  }

  .text {
    font-size: 1.1rem;
  }
}

@media (max-width: 1200px) {
  .home {
    height: 100vh;
  }

  .gradient {
    width: 100%;
    left: 0;
    top: 75%;
    height: 25%;
    background: linear-gradient(to top, var(--trans-pink), rgba(0, 0, 0, 0));
  }

  .home-container {
    padding: 15rem 0rem 5rem 0rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .est {
    font-size: 2.7rem;
    height: 45%;
  }

  .head-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .sub-head {
    font-size: 4rem;
    padding-right: 0;
  }

  .head {
    font-size: 11rem;
  }

  .text-container {
    display: flex;
    justify-content: center;
  }

  .text {
    font-size: 2.4rem;
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .home {
    max-height: 100vh;
  }

  .gradient {
    top: 70%;
    height: 30%;
  }

  .home-container {
    padding: 10rem 0rem 4rem 0rem;
  }

  .est {
    font-size: 2.2rem;
    height: 40%;
  }

  .sub-head {
    font-size: 3.5rem;
    padding-right: 0;
  }

  .head {
    font-size: 9rem;
  }

  .text {
    font-size: 2rem;
  }
}

@media (max-width: 840px) {
  .home {
    height: 90vh;
  }

  .gradient {
    top: 70%;
    height: 30%;
  }

  .home-container {
    padding: 10rem 0rem 3rem 0rem;
  }

  .est {
    font-size: 1.7rem;
    height: 25%;
  }

  .sub-head {
    font-size: 3rem;
    padding-right: 0;
  }

  .head {
    font-size: 7.5rem;
  }

  .text {
    font-size: 1.6rem;
  }
}

@media (max-width: 800px) {
  .gradient {
    top: 75%;
    height: 25%;
  }

  .home-container {
    padding: 10rem 0rem 4rem 0rem;
  }

  .est {
    height: 25%;
  }

  .head {
    font-size: 7.5rem;
  }

  .text-container {
    display: flex;
    justify-content: center;
  }

  .text {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .home-container {
    padding: 8rem 0rem 2.5rem 0rem;
  }

  .est {
    font-size: 1.6rem;
    height: 20%;
  }

  .head {
    font-size: 7rem;
  }

  .text-container {
    display: flex;
    justify-content: center;
  }

  .text {
    font-size: 1.5rem;
  }
}

@media (max-width: 601px) {
  .gradient {
    top: 77%;
    height: 23%;
  }

  .home-container {
    padding: 7rem 0rem 2.5rem 0rem;
  }

  .est {
    font-size: 1.5rem;
    height: 20%;
  }

  .head {
    font-size: 5.5rem;
  }

  .text-container {
    display: flex;
    justify-content: center;
  }

  .text {
    font-size: 1.2rem;
  }
}

@media (max-width: 432px) {
  .gradient {
    top: 71%;
    height: 29%;
  }

  .home-container {
    padding: 7rem 0rem 2.5rem 0rem;
  }

  .est {
    font-size: 1.3rem;
    height: 15%;
  }

  .sub-head {
    font-size: 2.2rem;
    padding-right: 0;
  }

  .head {
    font-size: 4rem;
  }

  .text-container {
    display: flex;
    justify-content: center;
  }

  .text {
    font-size: 1rem;
  }
}

@media (max-width: 428px) {
  .gradient {
    top: 73%;
    height: 27%;
  }

  .home-container {
    padding: 7rem 0rem 2.2rem 0rem;
  }

  .sub-head {
    font-size: 2rem;
  }

  .head {
    font-size: 4rem;
  }

  .text-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 415px) {
  .gradient {
    top: 72%;
    height: 28%;
  }

  .sub-head {
    font-size: 2rem;
  }

  .head {
    font-size: 4rem;
  }

  .text-container {
    display: flex;
    justify-content: center;
  }

  .home-container {
    padding: 6rem 0rem 2rem 0rem;
  }

  .gradient {
    top: 68%;
    height: 32%;
  }

  .est {
    font-size: 1rem;
    height: 15%;
  }
}

@media (max-width: 376px) {
  .home-container {
    padding: 6rem 0rem 1.5rem 0rem;
  }

  .head {
    font-size: 3.5rem;
  }

  .sub-head {
    font-size: 1.5rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .est {
    font-size: 0.9rem;
    height: 15%;
  }
}

@media (max-width: 360px) {
  .home-container {
    padding: 5.5rem 0rem 1.5rem 0rem;
  }

  .text {
    font-size: 0.9rem;
    width: 90%;
  }
}

@media (max-width: 320px) and (max-height: 480px) {
  .gradient {
    top: 64%;
    height: 36%;
  }

  .home-container {
    padding: 5rem 0rem 1.5rem 0rem;
  }

  .est {
    font-size: 0.8rem;
  }

  .sub-head {
    font-size: 1.5rem;
  }

  .head {
    font-size: 3rem;
  }

  .text {
    font-size: 0.8rem;
  }
}

@media (max-width: 1112px) and (orientation: landscape) {
  .home {
    height: 100vh;
  }

  .est {
    font-size: 1.1rem;
    height: 15%;
  }

  .home-container {
    padding: 6rem 0rem 1rem 0rem;
  }

  .sub-head {
    font-size: 2.2rem;
  }

  .head {
    font-size: 6rem;
  }

  .text {
    font-size: 1.7rem;
  }
}

@media (max-width: 962px) and (orientation: landscape) {
  .home {
    height: 100vh;
  }

  .est {
    font-size: 1.1rem;
    height: 15%;
  }

  .home-container {
    padding: 6rem 0rem 1rem 0rem;
  }

  .sub-head {
    font-size: 2rem;
  }

  .head {
    font-size: 5.5rem;
  }

  .text {
    font-size: 1.5rem;
  }
}

@media (max-width: 926px) and (orientation: landscape) {
  .est {
    font-size: 1rem;
    height: 15%;
  }

  .home-container {
    padding: 7rem 0rem 1rem 0rem;
  }

  .sub-head {
    font-size: 1.8rem;
  }

  .head {
    font-size: 4.5rem;
  }

  .text {
    font-size: 1.2rem;
  }
}

@media (max-width: 740px) and (orientation: landscape) {
  .est {
    font-size: 0.9rem;
  }

  .home-container {
    padding: 5.5rem 0rem 1rem 0rem;
  }

  .sub-head {
    font-size: 1.5rem;
  }

  .head {
    font-size: 4rem;
  }

  .text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) and (orientation: landscape) {
  .home-container {
    padding: 5rem 0rem 1rem 0rem;
  }

  .est {
    font-size: 0.8rem;
  }

  .sub-head {
    font-size: 1.5rem;
  }

  .head {
    font-size: 3.5rem;
  }

  .text {
    font-size: 0.9rem;
  }
}
