.merch-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.merch-type-image {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

.merch-type-image img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.merch-type-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.merch-type-title {
  margin: 0.5rem 0;
}

.merch-type-label {
  font-size: 2.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Wix Madefor Display Variable", sans-serif;
  letter-spacing: 1px;
}

.merch-type-description {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.merch-type-description p {
  font-size: 1rem;
}

.merch-type-description span {
  font-weight: 400;
  margin-left: 0.5rem;
}

.merch-type-material,
.merch-type-size,
.merch-type-color,
.merch-type-text {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.merch-type-availability {
  text-align: left;
}

.merch-type-availability p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

.merch-type-availability span {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

.merch-type-availability span.unavailable {
  color: var(--trans-pink);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .merch-type {
    padding: 15px;
  }

  .merch-type-label {
    font-size: 1rem;
  }

  .merch-type-description {
    padding: 12px;
  }

  .merch-type-description p {
    font-size: 0.85rem;
  }
}

@media (max-width: 485px) {
  .merch-type {
    min-height: 450px;
  }

  .merch-type-image {
    height: 220px;
  }
}
