.merch-type {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.merch-type-image {
  width: 100%;
  overflow: hidden;
}

.merch-type-image img {
  object-fit: cover;
  width: 100%;
  height: auto;
  height: clamp(13.75rem, 10.417rem + 16.67vw, 18.75rem);
}

.merch-type-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(0.625rem, 0.208rem + 2.08vw, 1.25rem);
  flex: 1;
}

.merch-type-title {
  margin: clamp(0.3rem, 0.1rem + 1vw, 0.6rem) 0;
}

.merch-type-label {
  font-size: clamp(1.2rem, 0.667rem + 2.67vw, 2rem);
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Wix Madefor Display Variable", sans-serif;
  letter-spacing: 1px;
}

.merch-type-description {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: clamp(0.25rem, 0.083rem + 0.83vw, 0.5rem);
}

.merch-type-description span {
  font-weight: 400;
  margin-left: clamp(0.25rem, 0.083rem + 0.83vw, 0.5rem);
}

.merch-type-material,
.merch-type-size,
.merch-type-color,
.merch-type-text {
  margin: 0;
  font-size: clamp(1rem, 0.8rem + 1vw, 1.3rem);
  font-weight: 600;
}

.merch-type-availability {
  background-color: #252525;
  text-align: center;
  padding: clamp(0.625rem, 0.208rem + 2.08vw, 1.25rem) 0;
  margin-top: auto;
}

.merch-type-availability p {
  margin: 0;
  font-size: clamp(1rem, 0.8rem + 1vw, 1.3rem);
  font-weight: 400;
}

.merch-type-availability span {
  font-size: clamp(1rem, 0.8rem + 1vw, 1.3rem);
  font-weight: 400;
  margin-left: clamp(0.25rem, 0.083rem + 0.83vw, 0.5rem);
}

.merch-type-availability span.unavailable {
  color: var(--trans-pink);
}

@media (min-width: 1024px) {
  .merch-type-image img {
    height: clamp(12.5rem, 4.167rem + 13.02vw, 25rem);
  }
}
