.head-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-head {
  text-transform: uppercase;
  font-family: "owners-black", sans-serif;
  font-size: 7rem;
  background: -webkit-linear-gradient(
    40deg,
    var(--trans-pink),
    var(--trans-pink),
    var(--trans-blue),
    var(--trans-blue)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 30%;
}

.all-news {
  width: 280px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.278);
  color: var(--cream-white);
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "owners-bold", sans-serif;
  font-size: 0.8rem;
  position: relative;
}

.all-news:before {
  content: "";
  background: linear-gradient(
    90deg,
    var(--trans-pink),
    var(--cream-white),
    var(--trans-blue),
    var(--trans-pink),
    var(--cream-white),
    var(--trans-blue),
    var(--trans-pink),
    var(--cream-white),
    var(--trans-blue)
  );
  position: absolute;
  left: 0;
  top: 100%;
  background-size: 1000%;
  z-index: 0;
  width: 100%;
  height: 1px;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.all-news:active {
  color: rgba(0, 0, 0, 0.152);
}

.all-news:active:after {
  background: transparent;
}

.all-news:hover:before {
  opacity: 1;
}

.all-news:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.152);
  left: 0;
  top: 0;
}

.slick-list {
  margin: 0 -1rem;
}

.slide-container {
  padding: 0 0.5rem;
  cursor: pointer;
}

.slide {
  border: solid 1px transparent;
  background-color: rgba(0, 0, 0, 0.244);
  padding: 1rem;
  position: relative;
  z-index: 2;
  transition: border 1s ease-in-out;
  margin-bottom: 1rem;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(
    0deg,
    var(--trans-pink),
    var(--trans-blue),
    var(--trans-pink),
    var(--trans-blue),
    var(--trans-pink),
    var(--trans-blue),
    var(--trans-pink)
  );
  height: 0;
  transition: height 0.4s ease-in;
  z-index: 1;
  animation: glowing 40s linear infinite;
  background-size: 1000%;
}

.slide:hover {
  border: solid 1px var(--dark-grey);
}

.slide:hover::before {
  height: 100%;
}

.slide-content-container {
  position: relative;
  z-index: 2;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  color: var(--cream-white);
}

.next {
  right: -25px;
}

.prev {
  left: -25px;
}

.slide-img-container {
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-content {
  height: 150px;
  padding-top: 2rem;
}

.slide-head {
  color: var(--cream-white);
  font-family: "owners-bold", sans-serif;
  text-align: left;
  transition: color 0.6s ease-in-out;
  font-size: 1.5rem;
}

.slide:hover .slide-head {
  color: var(--dark-grey);
  transition-delay: 0.1s;
}

.date {
  color: var(--cream-white);
  font-size: 0.7rem;
  letter-spacing: 2px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (max-width: 1920px) {
  .head-container {
    margin: 2rem 0;
  }

  .news-head {
    font-size: 4rem;
  }

  .all-news {
    width: 160px;
  }

  .slide-img-container {
    height: 250px;
  }

  .slide-content {
    height: 100px;
    padding-top: 1.5rem;
  }

  .slide-head {
    font-size: 1.2rem;
  }
}

@media (max-width: 1440px) {
}

@media (max-width: 1280px) {
  .news-head {
    width: 50%;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 820px) {
  .head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }

  .news-head {
    -webkit-text-fill-color: var(--cream-white);
    font-size: 2.5rem;
    margin-bottom: 0 !important;
    padding: 0;
  }

  .all-news {
    width: 130px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.278);
    border: solid 2px var(--trans-pink);
    font-size: 0.9rem;
    font-family: "owners-regular", sans-serif;
  }

  .slide-container {
    padding: 0 0.2rem;
  }

  .slide:before {
    display: none;
  }

  .slide-img-container {
    height: 180px;
  }

  .slide:hover .slide-head {
    color: var(--cream-white);
  }

  .slide {
    border: none;
    padding: 0;
    background: transparent;
  }

  .slide:hover {
    border: none;
  }

  .slide-content {
    height: 100px;
    padding: 0.5rem;
    border: solid 2px var(--trans-pink);
  }

  .slide-head {
    font-size: 1rem;
  }

  .all-news:before {
    background: transparent;
  }

  .arrow {
    color: var(--trans-blue);
  }
}

@media (max-width: 485px) {
  .head-container {
    margin-bottom: 1.5rem;
  }

  .news-head {
    font-size: 1.8rem;
  }

  .all-news {
    width: 100px;
    font-size: 0.7rem;
  }

  .slide:before {
    display: none;
  }

  .slide-img-container {
    height: 200px;
  }

  .slide:hover .slide-head {
    color: var(--cream-white);
  }

  .slide {
    border: none;
    padding: 0;
    background: transparent;
  }

  .slide:hover {
    border: none;
  }

  .slide-content {
    height: 80px;
  }

  .slide-head {
    font-size: 1rem;
  }

  .next {
    right: -10px; /* adjust as needed */
    font-size: 1.5rem;
  }

  .prev {
    left: -10px; /* adjust as needed */
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  .news-head {
    font-size: 1.5rem;
  }

  .slide-head {
    font-size: 1rem;
  }

  .all-news {
    width: 100px;
    height: 20px;
    font-size: 0.6rem;
  }
}
